@import "{{ site.theme }}";
#header-color {
     background-image:url("https://github.com/joker-project/2024/blob/main/img/bodychange1.png");
     background-color:#cdc0f6 !important;

}
#banner { 
    background:#95bfba;
}
