@import "{{ site.theme }}";
#header-color {
     background-image:url("https://github.com/joker-project/clef-2023/blob/main/img/bodychange1.png");
     background-color:#ded4f9 !important;
   
}
#banner { 
    background: #c2de91;
}
